body {
    color: white;
    background: black;
}

header{
   border-botton: solid 2px rgb(42,122,228);
   padding: 20px;
   font-size: 32px;
   color: rgb(42,122,228);
}

section{
    background: rgb(184,156,213);
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div{
    margin-right: 20px;
}
h1 { font-size: 4px } 

p { font-size: 20px }

